
body{
    background-color: rgb(39, 39, 39);
    letter-spacing: 2px;
}


  .container{
    justify-content: center;
    margin-top: 150px;
    width:60%;
    padding:20px;
    border:1px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
  }

.col-xs-8{
    color: white;
    font-size: 20px;
}
h2 {
    color: yellow;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .delete {
    margin-right: 5px;
  }

  .todo-list{
    padding:10px;
  }

  #create-task{
    margin-top: 20px;
  }